# YANGI .env FAYL YARATING VA
# QUYIDAGI MA'LUMOTLARNI YOZING:

ADMINS=914791861
BOT_TOKEN=6577229866:AAFD0npx2ZgIB-yeChT1EehavSMiP5QG9-g


# PostgreSQL
DB_USER=postgres
DB_PASS=1234567
DB_NAME=telegram_bot
DB_HOST=localhost